{% extends 'base.html' %}

{% block content %}

    <div class="p-10 lg:p-20 text-center">
        <h1 class="text-3xl lg:text-6xl text-white">{{ room.name }}</h1>
    </div>

    <div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
        <div class="chat-messages-wrapper">
            <div class="chat-messages space-y-3" id="chat-messages">
                {% for message in messages reversed %}
                    <div class="p-4 bg-gray-200 rounded-xl">
                        <p class="font-semibold">{{ message.user.username }}</p>
                        <p>{{ message.content }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="online-users-wrapper">
                <div class="online-users">
                    <h2 class="text-xl font-semibold">Online Users</h2>
                    <ul>
                        {% for user in online_users %}
                            <li>{{ user }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
        <form method="post" action="." class="flex">
            {% csrf_token %}
            <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message..." id="chat-message-input">
            <button class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" id="chat-message-submit">
                Submit
            </button>
        </form>
    </div>

    <style>
        .chat-messages-wrapper {
            display: flex;
        }

        .chat-messages {
            width: 70%;
        }

        .online-users-wrapper {
            width: 30%;
            padding-left: 20px;
        }

        .online-users {
            height: 200px; /* Adjust the height as needed */
            overflow-y: auto;
        }
    </style>

{% endblock %}

{% block scripts %}
    {{ room.slug|json_script:'room-name' }}
    {{ request.user.username|json_script:'user-name' }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const username = JSON.parse(document.getElementById('user-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/rooms/'
            + roomName
            + '/'
        );


        setInterval(function () {
            window.location.reload();
        }, 30000); // reload every 30 seconds for reload online users


        chatSocket.onmessage = function (e) {
            e.preventDefault();
            const data = JSON.parse(e.data);

            if (data.message !== "") {
                let html = '<div class="p-4 bg-gray-200 rounded-xl">';
                html += '<p class="font-semibold">' + data.username + '</p>';
                html += '<p>' + data.message + '</p></div>';
                document.querySelector('#chat-messages').innerHTML += html;

                scrollBottom();
                window.location.reload();

            } else {
                alert('The message was empty!');
                {#window.location.reload();#}
            }
        };

        chatSocket.onclose = function (e) {
            e.preventDefault();
            console.error('Chat socket closed unexpectedly');
            {#window.location.reload();#}

        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            e.preventDefault();
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            e.preventDefault();

            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            if (message.trim() !== '') { // Check if the message is not empty or only contains whitespace
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': username,
                    'room': roomName
                }));
            }

            messageInputDom.value = '';
            return false;
        };

        function scrollBottom() {
            const objDiv = document.querySelector('#chat-messages');
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        scrollBottom();
    </script>
{% endblock %}
</body>
</html>